* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  background-color: var(--background);
  font-size: 1rem;
  text-align: center;
  justify-content: center;
}

:root {
  --text-primary: rgb(255, 255, 255);
  --text-muted: rgb(72, 101, 131);
  --background: #101922;
  --card-background: #1c2632;
  --border: rgb(50 77 103);
  --list-background: #2a3a49;
  --button-delete: rgb(235, 99, 89);
  --button-add: #137fec;
  --input-background: rgb(25 38 51);
  --button-background: rgba(255, 255, 255, 0.253);
}
