* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  background-color: var(--background);
  font-size: 1rem;
  text-align: center;
  justify-content: center;
}

:root {
  --text-primary: rgb(255, 255, 255);
  --text-muted: rgb(72, 101, 131);
  --background: #101922;
  --card-background: #1c2632;
  --border: rgb(50 77 103);
  --list-background: #2a3a49;
  --button-delete: rgb(235, 99, 89);
  --button-add: #137fec;
  --input-background: rgb(25 38 51);
  --button-background: rgba(255, 255, 255, 0.253);
}

main {
  h1 {
    color: var(--text-primary);
  }

  section {
    background-color: var(--card-background);
    margin-top: 2rem;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border-radius: 20px;
    box-shadow: 0px 2px 15px 0 black;

    form {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem 0 1rem;
      gap: 10px;

      input {
        width: 100%;
        padding: 1rem;
        border: none;
        border: 1px solid var(--border);
        border-radius: 10px;
        background: var(--input-background);
        color: white;

        &::placeholder {
          color: var(--text-muted);
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;

        svg {
          color: var(--button-add);
          width: 2rem;
          height: 2rem;
          border-radius: 5px;

          &:hover {
            background-color: var(--button-background);
          }
        }
      }
    }
    .pagination {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0.5rem;
      gap: 1rem;
      flex-wrap: wrap;
      button {
        cursor: pointer;
        background-color: transparent;
        border: 1px solid var(--border);
        text-decoration: none;
        padding: 0.5rem;
        color: var(--text-primary);
        border-radius: 10px;
        &:hover {
          transition-duration: 1s;
          background-color: var(--button-background);
        }
        &.isActive {
          cursor: default;
          background-color: var(--button-add);
        }
        &.isFirstOrLastPage {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    .taskList {
      background-color: var(--list-background);
      p {
        color: var(--text-muted);
        padding: 1rem;
      }

      li {
        border: 1px solid var(--border);
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        color: white;
        display: flex;
        align-items: center;

        label {
          display: flex;
          gap: 10px;
          padding: 0.5rem 0;
          text-wrap: wrap;
          transition-duration: 1s;

          &.isChecked {
            transition-duration: 1s;
            text-decoration: line-through;
            color: var(--text-muted);
          }
        }

        button {
          display: none;
          background: none;
          border: none;
          cursor: pointer;
          border-radius: 5px;

          svg {
            color: var(--button-delete);
            width: 2rem;
          }

          &.isCompleted {
            display: inline-block;
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.253);
          }
        }
      }
    }

    div {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      small {
        color: var(--text-muted);
      }

      button {
        background-color: var(--button-delete);
        border: none;
        padding: 0.3rem;
        border-radius: 5px;
      }
    }
  }

  footer {
    margin-top: 1rem;
    color: var(--text-muted);
    display: flex;
    justify-content: center;
    p {
      display: flex;
      gap: 0.2rem;
      a {
        color: var(--text-primary);
        text-decoration: none;
      }
    }
  }
}
