.login {
  h1 {
    padding-top: 1rem;
    background-color: var(--list-background);
    color: var(--text-primary);
    border-radius: 10px 10px 0px 0px;
  }
  form {
    display: flex;
    flex-direction: column;
    background-color: var(--list-background);
    padding: 2rem 3rem 3rem 3rem;
    gap: 1.5rem;
    label {
      
      input {
        padding: 1rem;
        background-color: var(--input-background);
        color: var(--text-primary);
        border: 1px solid var(--border);
        border-radius: 10px;
      }
    }
    button{
      color: var(--text-primary) ;
      padding: 1rem;
      border-radius: 10px;
      background: none;
      border: 1px solid var(--border);
      background: var(--button-add);
      &:hover{
        transition: 0.2s;
        background: var(--button-background);
        cursor: pointer;
      }
    }
  }
  p{
    padding-bottom: 1rem;
    background-color: var(--list-background);
    color: var(--text-primary);
    border-radius: 0px 0px 10px 10px;
    a{
      cursor: pointer;
      text-decoration: dashed;
      color: var(--button-add);
    }
  }
}
